


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
  color: white;
}
* {
  padding: 0;
  margin: 0;
}

.loading {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basketball {
  animation: bounce 1s linear infinite;
}
@keyframes bounce {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wide {
  width: 100%;
}

.loading-text::after {
  content: 'Loading...';
  animation: bideTime 20s linear infinite;
}
@keyframes bideTime {
  0% {
    content: "Loading..."
  }
  25% {
    content: "Don't leave! I'm almost done!!"
  }
  50% {
    content: 'You look wonderful today ;)'
  }
  75% {
    content: 'Data.. almost.. here..'
  }
  100% {
    content: "OOH! spinning ball!!"
  }
}


.matchups-container {
  width: 100%;
}

.matchups-container h1 {
  margin-top: 2rem;
}
.time-statement {
  font-size: 12px;
}
.matchup {
  max-width: 600px;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #353535;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 5px white;
}
.final {
  background-color: #582828;
}
.live {
  background-color: #2f4e2b;
}
.time {
  background-color: white;
  color: #000000;
  border-radius: 5px;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  mix-blend-mode: screen;
  font-weight: bold;
}
.team-names div {
  width: 50%;
}
.team-names h2 {
  font-size: 2rem;
  text-align: center;
}
.top-players div {
  width: 80%;
  text-align: center;
  font-size: 12px;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.top-player {
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  color: black;
  background-color: #ff9800;
  mix-blend-mode: screen;
  font-weight: 900;
}

.points-table {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem 0rem;
}

.points span {
  width: -webkit-fill-available;
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 100;
}

.winning {
  color: goldenrod;
  animation: changeColor 1s infinite ease-in-out alternate;
}
@keyframes changeColor {
  0% {
    transform: translate(0, 0);
    filter: drop-shadow(0px 0px 3px black);
  }
  100% {
    transform: translate(0, -5px);
    filter: drop-shadow(0px 5px 8px black);
  }
}



@media only screen and (max-width: 700px) {
  .matchup {
    width: 85%;
  }
  .team-names h2 {
    font-size: 20px;
  }
  .team-names p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) and (orientation: landscape) {
  .matchup {
    width: 75%;
  }
  .team-names h2 {
    font-size: 20px;
  }
  .team-names p {
    font-size: 12px;
  }
}